h1 {
    color: red; 
    text-align: center;
    text-shadow:  2px 2x 2px rgb(100, 8, 8);
}

.title {
    color: rgba(6, 86, 97, 0.74); 
}

#italic{
    color: orchid;
}

nav{
    background-color: coral;
    text-align: center;
}
.nav-wrapper {
    background-color: rgb(29, 29, 150);
}

a{
    text-decoration-line: none ;
}

nav ul{
list-style: none;
}

nav li{
display: inline-block;
padding: 30px;

}
.container{
    border: 8px dashed rgb(8, 65, 80); 
    margin: 50px 5px;
    padding: 30px 5px 30px 35px;
}

.box{
    height: 200px;
    width: 200px;
background: blue;
margin: 10px;

}
@keyframes fadeMe {
0% {
    opacity: 1;
}    
100% {
    opacity: 0;
 }
}
#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box2 {
animation-name: rotation;
animation-duration: 2s;
animation-iteration-count: 4s;
animation-timing-function: ease-in-out;
border-radius: 10%;
background-image: radial-gradient(circle,purple,orange,yellow,pink, purple);

}

@keyframes getBigger {
0% {transform: scale(1);}
50% {transform: scale(2);}
100% {transform: scale(5);}
}

#box3 {
animation: getBigger infinite 8s linear;
border-radius: 50%;
background-color: coral;

}

@keyframes changeColors{
    0% {background-color: grey;}
    25% {background-color: purple;}
    50% {background-color: yellow;}
    75% {background-color: green;}
    100% {background-color: blueviolet;}
}

#box4 {
    animation: changeColors 3s 2s forwards ;
}

@keyframes moveBox{
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}
#box5 {
    position: relative;
    animation: moveBox 5s 3s;
    background-color: pink;
}
#box6 {
    top: 10px;
    left: 20px;
    position: relative;
}
html {
background-image: radial-gradient( );
}


.circle-img{
    border-radius: 50%;
}

img{
    box-shadow: 8px 8px 10px 8px rgb(169, 202, 212);

}

.flex{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    justify-content: space-around;
    flex-direction: column-reverse;
    
}

form input, textarea, button{
    display: block;
    margin: 30px;
}

.contact-box{
    display: flex;
    justify-content: center;
}
.row{
    margin: 30px;
}
.input-field{
    margin: 20px;
}

.wrapper {
    display: grid;
grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: #fff;
    color: #444;
}

.Box {
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}

.a {
    grid-column: col / span  2;
    grid-row: row ;
    justify-content: center;
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    justify-content: center;
}
.c {
    grid-column: col /span 5 ;
    grid-row: row 2 ;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple, orange);
}
.d {
    grid-column: col / span  3 ;
    grid-row: row 3 ;
    justify-content: center;
}

.e {
    grid-column: col 3 / span  3;
    grid-row: row 3;
    justify-content: center;
}

.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    justify-content: center; 
    background-image: linear-gradient(orange, purple, yellow, pink);
}